{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-typescript", { "isTSX": true, "allExtensions": true }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-transform-react-display-name",
    "@babel/plugin-transform-react-inline-elements",
    "@babel/plugin-transform-react-constant-elements"
  ],
  "env": {
    "production": {
      "plugins": [
        ["react-remove-properties", { "properties": ["data-testid"] }],
        ["transform-react-remove-prop-types", { "removeImport": true }]
      ]
    },
    "test": {
      "presets": ["@babel/preset-env"]
    },
    "cjs": {
      "presets": [
        [
          "@babel/preset-env",
          { "targets": { "node": 8 }, "useBuiltIns": "usage", "corejs": 2 }
        ]
      ]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          { "modules": false, "useBuiltIns": "usage", "corejs": 2 }
        ]
      ]
    }
  }
}
